@font-face {
    font-family: 'Nikosh';
    src: url('../fonts/Nikosh.eot');
    src: url('../fonts/Nikosh.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nikosh.woff2') format('woff2'),
         url('../fonts/Nikosh.woff') format('woff'),
         url('../fonts/Nikosh.ttf') format('truetype'),
         url('../fonts/Nikosh.svg#Nikosh') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* @font-face {
    font-family: 'solaimanlipi';
    src: url('../fonts/solaimanlipi.woff');
    src: url('../fonts/solaimanlipi.woff?#iefix') format('embedded-opentype'),
         url('../fonts/solaimanlipi.woff2') format('woff2'),
         url('../fonts/solaimanlipi.woff') format('woff'),
         url('../fonts/solaimanlipi.woff') format('truetype'),
         url('../fonts/solaimanlipi.woff#Nikosh') format('svg');
    font-weight: normal;
    font-style: normal;
} */