.bg-dark {
    color: red;
  }
 
  
  .parent button {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  }

 
  
  .round-6 {
    border-radius: 70%;
  }